.contacts {
  display: none;
  flex-wrap: wrap;
  gap: 40px;
  margin-left: auto;
@media screen and (min-width: 768px){
    display: flex;
  }
@media screen and (min-width: 768px) and (max-width: 1199px){
    gap: 10px;
  }
&__link {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-weight: 500;
  color: var(--secondary-text-color);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  fill: var(--secondary-text-color);
  transition: fill var(--transition-duration) var(--transition-timing-function),
    color var(--transition-duration) var(--transition-timing-function);
}
&__link:hover,
&__link:focus {
  color: var(--color-accent);
  fill: var(--color-accent);
}
}