
footer {
  background-color: var(--color-footer);
  padding: 60px 0;
  text-align: center;
@media screen and (min-width: $tablet){
  padding: 60px 86px 60px 76px;
  // display: flex;
  text-align: start;
  flex-direction: row;
  }
&-baseline {
  @media screen and (min-width: $tablet){
    // text-align: justify;
    text-align: left;
    // display: flex;
    // flex-direction: row;
    // justify-content: space-around;
    // align-items: baseline;
  }
  // @media screen and (min-width: $desktop) {
  //   display: flex;
  //   align-items: baseline;
  // }  
  }

  &-flex {
    display:flex;
    // max-width: 230px;
  // @media screen and (min-width: $desktop) {
  //   display: inline-flex;
  //   flex-direction: column;
  //   width: 230px;
  //   margin-left: 0px;
  //   margin-right: 70px;
  // }
  }
}