
footer {
  background-color: var(--color-footer);
  padding: 60px 0;
  // text-align: center;
@media screen and (min-width: $tablet) and (max-width: 1199.98px){
  padding: 60px 86px 60px 76px;
  display: flex;
  // flex-direction: row;
  }
&-baseline {
  @media screen and (min-width: $tablet){
    // display: inline-flex;
    // text-align: baseline;
    // flex-direction: row;
    // text-align: left;
    // flex-wrap: wrap;
    // justify-content: space-around;
    // text-align: center;

  }
  @media screen and (min-width: $desktop) {
    display: flex;
    align-items: baseline;
  }  
  }

  &-contacts {
    display:block;
    max-width: 230px;
  @media screen and (min-width: $tablet) and (max-width: 1199.98px) {
    display: flex;
    text-align: start;
    margin: 0;
    }
  @media screen and (min-width: $desktop) {
    display: inline-flex;
    flex-direction: column;
    width: 230px;
    margin-left: 0px;
    margin-right: 70px;
  }
  }
}