.footer {
    background-color: var(--color-footer);
    text-align: center;
    padding: 60px 15px;
    width: 100%;
&__baseline-box {
  @media screen and (min-width: $tablet){
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-around;
    row-gap: 60px;
  }
  @media screen and (min-width: $desktop) {
    text-align: start;
    gap: 94px;
    }
  }

&__address {
  @media screen and (min-width: $desktop) {
    // display: inline-flex;
    // flex-direction: column;
    // width: 230px;
    // margin-left: 0px;
    // margin-right: 70px;
  }
}
}