.header {
  position: fixed;
  width: 100%;
  background-color: var(--color-white);
  z-index: 1;
  top: 0;
  left: 0;
  border-bottom: 1px solid #ececec;
  padding: 10px 0;
@media screen and (min-width: $tablet) {
    padding: 21px 0;
  }
@media screen and (min-width: $desktop) {
  padding: 25px 0;
}
 &__box {
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: space-between;
}
&-nav {
  display: flex;
  margin-left: 0;
@media screen and (min-width: $tablet) {
  margin-left: 88px;
}
@media screen and (min-width: $desktop){
  margin-left: 94px;
}
}
&__burger-btn{
  background-color: var(--color-white);
  border: none;
  &:hover {
    fill: var(--color-accent);
  }
  @media screen and (min-width: $tablet){
      display: none;
    } 
  }
}