
.hero {
  background-size: cover;
  background-color: var(--color-hero);
  background-repeat: no-repeat;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/bgimg.jpg);
  
  padding: 118px 0;
  margin: 0 auto;
  max-width: 1600px;  
@media screen and (min-width: $desktop) {
    padding: 200px 0;
    max-width: 1600px;
  }
&-flex {
  text-align: center;
}
&__title {
  color: var(--color-white);
  text-transform: uppercase;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  max-width: 380px;
  letter-spacing: 0.06em;
  margin: 0 auto 30px;
@media screen and (min-width: $desktop) {
    font-size: 44px;
    line-height: 1.4;
    max-width: 696px;
  }
  
}
&__button {
  padding: 10px 32px;
}
}


