
.hero {
  max-width: 1600px;
  margin: 0 auto;
  &-overlay {
      background-size: cover;
      background-color: var(--color-hero);
      background-repeat: no-repeat;
      padding: 118px 0;
      max-width: 480px;
      text-align: center;
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
          url('/images/hero-mtd/mobile/hero-480-1x.jpg');
  @media screen and (min-width: $tablet),screen and(min-device-pixel-ratio:2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('/images/hero-mtd/tablet/hero-768-1x.jpg');
      max-width: 768px;
  }
  @media screen and (min-width: $desktop),screen and (min-device-pixel-ratio:2),screen and (min-resolution: 288dpi),screen and (min-resolution: 3dppx) {
    padding: 200px 0;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url('/images/hero-mtd/desktop/hero-1600-1x.jpg');
        max-width: 1600px;
    }
  }
&__title {
  color: var(--color-white);
  text-transform: uppercase;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  max-width: 380px;
  letter-spacing: 0.06em;
  margin: 0 auto 30px;
@media screen and (min-width: $desktop) {
    font-size: 44px;
    line-height: 1.4;
    max-width: 696px;
  }
  
}
&__button {
  padding: 10px 32px;
}
}